In [13]:
from scripts.regression import run_test_select_order
from scripts.utilities import renameColumnOfDataframe
from scripts.variable_preprocessing import makeLogColumns, makeDiffColumns
import pandas as pd

In [7]:
#E tiene fuente BCRA para 1950 a 1958; desde 1959 a 2023 es fuente FMI
df_trimestral_crudo = pd.read_excel("https://github.com/mbarrena/tesis/raw/refs/heads/main/data/Data%20trimestral%201950%20a%202023%20PRUEBA.xlsx")
df_Arg = df_trimestral_crudo[['año', 'trimestre', 'ipc_ajust', 'E', 'Ebc', 'pbird', 'impp_usa', 'Psoja_USA', 'Pmaíz_USA', 'Ptrigo_USA', 'TOTfmi']].copy()
df_Arg = renameColumnOfDataframe(df_Arg, "ipc_ajust", "ipc")
display(df_Arg.head(30))
display(df_Arg.tail())

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
0,1950,1ºTr,9.020000e-13,9.020000e-13,141630.0,NaN,2.160000,1.166667,1.943333,NaN,3.153126e-12
1,1950,2ºTr,9.020000e-13,9.020000e-13,139320.0,NaN,2.663333,1.320000,2.060000,NaN,3.385298e-12
2,1950,3ºTr,1.082330e-12,1.082330e-12,144669.0,NaN,2.536667,1.440000,1.966667,NaN,3.553683e-12
3,1950,4ºTr,1.403200e-12,1.403200e-12,142804.0,NaN,2.423333,1.396667,1.953333,NaN,3.806171e-12
4,1951,1ºTr,1.405173e-12,1.405173e-12,146731.0,NaN,3.026667,1.580000,2.140000,NaN,3.893961e-12
5,1951,2ºTr,1.412013e-12,1.412013e-12,148515.0,NaN,3.076667,1.626667,2.110000,NaN,4.559823e-12
6,1951,3ºTr,1.420937e-12,1.420937e-12,147595.0,NaN,2.720000,1.643333,2.056667,NaN,5.068546e-12
7,1951,4ºTr,1.440207e-12,1.440207e-12,146949.0,NaN,2.740000,1.643333,2.170000,NaN,5.473033e-12
8,1952,1ºTr,1.417080e-12,1.417080e-12,147305.0,NaN,2.773333,1.660000,2.193333,NaN,6.101530e-12
9,1952,2ºTr,1.400573e-12,1.400573e-12,142608.0,NaN,2.836667,1.703333,2.123333,NaN,6.739640e-12
10,1952,3ºTr,1.397523e-12,1.397523e-12,135474.0,NaN,2.960000,1.723333,2.036667,NaN,6.641693e-12
11,1952,4ºTr,1.397507e-12,1.397507e-12,136685.0,NaN,2.723333,1.493333,2.106667,NaN,6.868363e-12
12,1953,1ºTr,1.397500e-12,1.397500e-12,140357.0,NaN,2.710000,1.456667,2.083333,NaN,7.054161e-12
13,1953,2ºTr,1.397500e-12,1.397500e-12,146396.0,NaN,2.750000,1.470000,2.006667,NaN,6.784563e-12
14,1953,3ºTr,1.397500e-12,1.397500e-12,149849.0,NaN,2.390000,1.483333,1.883333,NaN,6.780633e-12
15,1953,4ºTr,1.397500e-12,1.397500e-12,152698.0,NaN,2.606667,1.360000,1.983333,NaN,6.778094e-12
16,1954,1ºTr,1.397540e-12,1.397540e-12,151482.0,NaN,3.006667,1.430000,2.060000,NaN,6.700219e-12
17,1954,2ºTr,1.397500e-12,1.397500e-12,145721.0,NaN,3.520000,1.470000,1.990000,NaN,6.867819e-12
18,1954,3ºTr,1.397500e-12,1.397500e-12,154371.0,NaN,3.070000,1.520000,2.033333,NaN,7.181009e-12
19,1954,4ºTr,1.397540e-12,1.397540e-12,161721.0,NaN,2.560000,1.403333,2.106667,NaN,7.688099e-12
20,1955,1ºTr,1.397500e-12,1.397500e-12,163812.0,NaN,2.576667,1.386667,2.130000,NaN,7.774257e-12
21,1955,2ºTr,1.398070e-12,1.398070e-12,164488.0,NaN,2.366667,1.386667,2.093333,NaN,7.919727e-12
22,1955,3ºTr,1.397800e-12,1.397800e-12,162475.0,NaN,2.143333,1.313333,1.930000,NaN,8.025837e-12
23,1955,4ºTr,2.749397e-12,2.749397e-12,164896.0,NaN,2.083333,1.126667,1.943333,NaN,8.220946e-12
24,1956,1ºTr,4.097000e-12,4.097000e-12,171503.0,NaN,2.273333,1.180000,1.956667,NaN,8.371798e-12
25,1956,2ºTr,3.684667e-12,3.684667e-12,171220.0,NaN,2.826667,1.376667,1.986667,NaN,8.972241e-12
26,1956,3ºTr,3.135667e-12,3.135667e-12,171068.0,NaN,2.290000,1.436667,1.926667,NaN,9.253931e-12
27,1956,4ºTr,3.392333e-12,3.392333e-12,160707.0,NaN,2.203333,1.206667,2.033333,NaN,9.626917e-12
28,1957,1ºTr,3.822667e-12,3.822667e-12,175290.0,14.372429,2.273333,1.206667,2.076667,NaN,1.001266e-11
29,1957,2ºTr,4.024333e-12,4.024333e-12,174906.0,14.290612,2.216667,1.220000,1.980000,NaN,1.088990e-11

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
291,2022,4ºTr,162.437267,167.092767,715542.0,111.994742,13.966667,6.523333,9.100000,99.653615,12057.901663
292,2023,1ºTr,192.295133,197.672200,726438.0,110.995728,14.833333,6.703333,8.566667,100.255358,14379.348389
293,2023,2ºTr,231.982867,239.525000,705636.0,110.259612,14.500000,6.576667,8.016667,100.212163,17925.305868
294,2023,3ºTr,312.495167,325.102767,721285.0,110.601380,14.000000,5.720000,7.336667,100.063932,22933.827291
295,2023,4ºTr,448.259000,506.338867,704495.0,109.865265,12.933333,4.796667,6.756667,99.721680,32893.178687

In [15]:
df_ERPT_Arg = df_Arg.copy()
display(df_ERPT_Arg.head())
df_ERPT_Arg = makeLogColumns(['ipc', 'E', 'Ebc', 'pbird', 'impp_usa', 'Psoja_USA', 'Pmaíz_USA', 'Ptrigo_USA', 'TOTfmi'],df_ERPT_Arg)
display(df_ERPT_Arg.head())
df_ERPT_Arg = makeDiffColumns(['ipc', 'E', 'Ebc', 'pbird', 'impp_usa', 'Psoja_USA', 'Pmaíz_USA', 'Ptrigo_USA', 'TOTfmi'],df_ERPT_Arg)
display(df_ERPT_Arg.head())
display(df_ERPT_Arg.tail(90))

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
0,1950,1ºTr,9.020000e-13,9.020000e-13,141630.0,NaN,2.160000,1.166667,1.943333,NaN,3.153126e-12
1,1950,2ºTr,9.020000e-13,9.020000e-13,139320.0,NaN,2.663333,1.320000,2.060000,NaN,3.385298e-12
2,1950,3ºTr,1.082330e-12,1.082330e-12,144669.0,NaN,2.536667,1.440000,1.966667,NaN,3.553683e-12
3,1950,4ºTr,1.403200e-12,1.403200e-12,142804.0,NaN,2.423333,1.396667,1.953333,NaN,3.806171e-12
4,1951,1ºTr,1.405173e-12,1.405173e-12,146731.0,NaN,3.026667,1.580000,2.140000,NaN,3.893961e-12

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
0,1950,1ºTr,-27.734162,-27.734162,11.860973,NaN,0.770108,0.154151,0.664405,NaN,-26.482627
1,1950,2ºTr,-27.734162,-27.734162,11.844529,NaN,0.979578,0.277632,0.722706,NaN,-26.411579
2,1950,3ºTr,-27.551905,-27.551905,11.882204,NaN,0.930851,0.364643,0.676340,NaN,-26.363036
3,1950,4ºTr,-27.292266,-27.292266,11.869228,NaN,0.885144,0.334088,0.669537,NaN,-26.294398
4,1951,1ºTr,-27.290860,-27.290860,11.896356,NaN,1.107462,0.457425,0.760806,NaN,-26.271594

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
1,1950,2ºTr,0.000000,0.000000,-0.016445,NaN,0.209470,0.123481,0.058301,NaN,0.071048
2,1950,3ºTr,0.182257,0.182257,0.037675,NaN,-0.048728,0.087011,-0.046366,NaN,0.048543
3,1950,4ºTr,0.259639,0.259639,-0.012975,NaN,-0.045707,-0.030555,-0.006803,NaN,0.068639
4,1951,1ºTr,0.001405,0.001405,0.027128,NaN,0.222318,0.123336,0.091269,NaN,0.022803
5,1951,2ºTr,0.004856,0.004856,0.012085,NaN,0.016385,0.029108,-0.014118,NaN,0.157857

,año,trimestre,E,Ebc,pbird,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,TOTfmi,ipc
206,2001,3ºTr,0.000000,0.000000,-0.045128,-0.018576,0.085409,0.037673,-0.042864,0.000876,-0.010531
207,2001,4ºTr,0.000000,0.000000,-0.056151,-0.037500,-0.129406,-0.001762,0.047515,-0.003213,-0.008564
208,2002,1ºTr,0.648524,0.774190,-0.062751,-0.005060,0.029286,0.029542,-0.005817,0.001303,0.055016
209,2002,2ºTr,0.530114,0.465184,0.016848,0.024339,0.087336,-0.005150,-0.001168,0.003502,0.173142
210,2002,3ºTr,0.098041,0.065444,-0.000259,0.007047,0.150980,0.183468,0.255330,0.004698,0.087768
...,...,...,...,...,...,...,...,...,...,...,...
291,2022,4ºTr,0.179884,0.183464,-0.022549,-0.018836,-0.071377,-0.097769,0.048021,0.003194,0.171992
292,2023,1ºTr,0.168739,0.168061,0.015113,-0.008960,0.060203,0.027219,-0.060396,0.006020,0.176073
293,2023,2ºTr,0.187632,0.192048,-0.029054,-0.006654,-0.022728,-0.019077,-0.066356,-0.000431,0.220420
294,2023,3ºTr,0.297925,0.305484,0.021935,0.003095,-0.035091,-0.139559,-0.088638,-0.001480,0.246400
295,2023,4ºTr,0.360782,0.443065,-0.023553,-0.006678,-0.079249,-0.176048,-0.082355,-0.003426,0.360652

In [8]:
run_test_select_order(endog=["E", "ipc_ajust", "pbird"], data=df_trimestral_crudo, exog=[], estacionalidad=False)

!!!! Modelo seleccionado: VAR
!!!! Modelo seleccionado: VAR
None
Selected orders are: {'aic': np.int64(6), 'bic': np.int64(6), 'hqic': np.int64(6), 'fpe': np.int64(6)}

In [16]:
run_test_select_order(endog=["Psoja_USA" , "E", "ipc", "pbird"], data=df_ERPT_Arg, exog=[], estacionalidad=False)

!!!! Modelo seleccionado: VAR
!!!! Modelo seleccionado: VAR
None
Selected orders are: {'aic': np.int64(3), 'bic': np.int64(2), 'hqic': np.int64(2), 'fpe': np.int64(3)}

In [17]:
run_test_select_order(endog=["Pmaíz_USA" , "E", "ipc", "pbird"], data=df_ERPT_Arg, exog=[], estacionalidad=False)

!!!! Modelo seleccionado: VAR
!!!! Modelo seleccionado: VAR
None
Selected orders are: {'aic': np.int64(5), 'bic': np.int64(2), 'hqic': np.int64(2), 'fpe': np.int64(5)}

In [18]:
run_test_select_order(endog=["Ptrigo_USA" , "E", "ipc", "pbird"], data=df_ERPT_Arg, exog=[], estacionalidad=False)

!!!! Modelo seleccionado: VAR
!!!! Modelo seleccionado: VAR
None
Selected orders are: {'aic': np.int64(5), 'bic': np.int64(1), 'hqic': np.int64(2), 'fpe': np.int64(5)}